# exclude build/devel/test files from export to zip/tarball
.bowerrc                export-ignore
buildVueComponents.js   export-ignore
composer.json           export-ignore
CONTRIBUTING.md         export-ignore
.editorconfig           export-ignore
.eslint*                export-ignore
.flowconfig             export-ignore
.git*                   export-ignore
.jshintrc               export-ignore
manifest.yml            export-ignore
package.json            export-ignore
phpci.yml               export-ignore
phpcs.ruleset.xml       export-ignore
phpunit.xml             export-ignore
palm.xml                export-ignore
tests                   export-ignore
yarn.lock               export-ignore
vendor/khaled.alshamaa/ar-php/examples export-ignore
sonar-project.properties export-ignore

# Composer development dependencies
/vendor/amphp/amp export-ignore
/vendor/amphp/byte-stream export-ignore
/vendor/composer/package-versions-deprecated export-ignore
/vendor/composer/pcre export-ignore
/vendor/composer/semver export-ignore
/vendor/composer/xdebug-handler export-ignore
/vendor/dnoegel/php-xdg-base-dir export-ignore
/vendor/doctrine/instantiator export-ignore
/vendor/felixfbecker/advanced-json-rpc export-ignore
/vendor/felixfbecker/language-server-protocol export-ignore
/vendor/fzaninotto/faker export-ignore
/vendor/misantron/dbunit export-ignore
/vendor/myclabs/deep-copy export-ignore
/vendor/netresearch/jsonmapper export-ignore
/vendor/nikic/php-parser export-ignore
/vendor/openlss/lib-array2xml export-ignore
/vendor/pdepend/pdepend export-ignore
/vendor/phar-io/manifest export-ignore
/vendor/phar-io/version export-ignore
/vendor/php-webdriver/webdriver export-ignore
/vendor/phpdocumentor/reflection-common export-ignore
/vendor/phpdocumentor/reflection-docblock export-ignore
/vendor/phpdocumentor/type-resolver export-ignore
/vendor/phpmd/phpmd export-ignore
/vendor/phpunit/php-code-coverage export-ignore
/vendor/phpunit/php-file-iterator export-ignore
/vendor/phpunit/php-text-template export-ignore
/vendor/phpunit/php-timer export-ignore
/vendor/phpunit/php-token-stream export-ignore
/vendor/phpunit/phpunit export-ignore
/vendor/psr/container export-ignore
/vendor/psr/log export-ignore
/vendor/sebastian/code-unit-reverse-lookup export-ignore
/vendor/sebastian/comparator export-ignore
/vendor/sebastian/diff export-ignore
/vendor/sebastian/environment export-ignore
/vendor/sebastian/exporter export-ignore
/vendor/sebastian/global-state export-ignore
/vendor/sebastian/object-enumerator export-ignore
/vendor/sebastian/object-reflector export-ignore
/vendor/sebastian/recursion-context export-ignore
/vendor/sebastian/resource-operations export-ignore
/vendor/sebastian/type export-ignore
/vendor/sebastian/version export-ignore
/vendor/squizlabs/php_codesniffer export-ignore
/vendor/symfony/config export-ignore
/vendor/symfony/console export-ignore
/vendor/symfony/dependency-injection export-ignore
/vendor/symfony/deprecation-contracts export-ignore
/vendor/symfony/filesystem export-ignore
/vendor/symfony/polyfill-intl-grapheme export-ignore
/vendor/symfony/polyfill-intl-normalizer export-ignore
/vendor/symfony/polyfill-php73 export-ignore
/vendor/symfony/polyfill-php80 export-ignore
/vendor/symfony/polyfill-php81 export-ignore
/vendor/symfony/process export-ignore
/vendor/symfony/service-contracts export-ignore
/vendor/symfony/string export-ignore
/vendor/symfony/yaml export-ignore
/vendor/tebazil/db-seeder export-ignore
/vendor/tebazil/yii1-db-seeder export-ignore
/vendor/theseer/tokenizer export-ignore
/vendor/vimeo/psalm export-ignore
/vendor/webmozart/assert export-ignore
/vendor/webmozart/path-util export-ignore

# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.php text eol=lf
*.css text eol=lf
*.js text eol=lf
*.pstpl text eol=lf
*.html text eol=lf
*.sql text eol=lf
*.txt text eol=lf
*.lss text eol=lf

# Denote all files that are truly binary and should not be modified.
*.jpg binary
*.png binary
*.gif binary
*.ico binary
*.mo binary
